<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/cars" routerLinkActive="active">Cars</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/add" routerLinkActive="active">Add car</a>
        </li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>